.home__header p,nav ul li{
    font-size: 12px;
}
.home__main__section h2{
    font-size: 24px;
}
.home__main__section__article h4{
font-size: 18px;
}
.home__main__section__article h5{
     font-size: 16px;
}
body{
    background-color: var(--color-Gris-claro);
}
.home__main{
    width: 90%;
    padding: 0px 10px 20px 10px;
}

.home__main__section__article{
   
padding-bottom: 10px;
border-top: 1px solid #ebebeb ;
}